/* ex1 */
.ex-1-square:hover {
    background-color: red;
}

.ex-1-square {
    transition: background-color 3s;
}

/* ex2 */
.ex-2-square:active {
    width: 100%;
}

.ex-2-square {
    transition: width 3s;
}